body {
    text-align: center;
}
.square {
    width: 200px;
    height: 200px;
    background-image: url(hole.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    /* border: solid 1px lightgray; */
}
.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 618px;
    height: 618px;
    margin: auto;
    padding: 0;
}
h2 {
    font-weight: normal;
    display: inline-block;
}
p {
    display: inline-block;
}
.mole {
    background-image: url(diglett.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: absolute;
    z-index: 18;
}
/* .square {
    background-image: url(hole.png);
    background-position: center bottom;
    background-repeat: no-repeat;
} */